{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <style>

    </style>
</head>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <select id="filterDropdown" onchange="filterDates()">
                <option value="today">Today</option>
                <option value="thisWeek">This Week</option>
                <option value="thisMonth">This Month</option>
                <option value="thisQuarter">This Quarter</option>
                <option value="thisYear">This Year</option>
                <option value="yesterday">Yesterday</option>
                  <!--<option value="" class="date-option">Previous Week</option>
                <option value="" class="date-option">Previous Month</option>
                <option value="" class="date-option">Previous Quarter</option>
                <option value="" class="date-option">Previous Year</option>
                <option value="" class="date-option">Custom</option>-->
            </select>
            <br><br>
        </div>
        <div class="col-md-5">
            <button class="btn btn-light"><a class="text-dark customize" href="#"><i
                        class="fa fa-cog">&nbsp;</i>Customize Report</a></button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class=" col-md-1 d-flex">
            <button class="btn btn-light" type="button" style="height: 30px;" onclick="display()">
                <i class="fa fa-print">&nbsp;Print</i>
            </button>
        </div>
        <div class="col-md-1 d-flex">
            <button class="btn btn-light" type="button" style="height: 30px;" onclick="exportToPDF()">
                <i class="fa fa-file-pdf-o" aria-hidden="true">&nbsp;PDF</i>
            </button>
        </div>
        <div class="col-md-2 d-flex">
            <button class="btn btn-light dropdown-toggle" type="button" id="exportDropdown2" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="height: 30px;">
                <i class='fas fa-file-export'></i> Export
            </button>
            <div class="dropdown-menu " aria-labelledby="exportDropdown2">
                <a class="dropdown-item" href="#" onclick="exportToExcel()">XLS (Excel)</a>
            </div>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'report_inventory_view' %}" class="btn btn-light close-button" style="height: 30px;">
                X
            </a>
        </div>
    </div>

    <div class="row" id="pdfdiv" style="width:105%">
        <div class="row bg-dark" id="printdiv" style="border-radius: 3vh; width: 77vw;">
            <h3 style="text-align: center; margin-top: 2vh;">{{company.company_name}}</h3>
            <h1 style="text-align: center;">Horizontal Balance Sheet</h1>
            <h6 style="text-align: center;">Basis: Cash</h6>
            <h6 style="text-align: center;">As of <span id="selectedDate"></span></h6> <br>
        </div>
    </div>
</div>
<script>
    function filterDates() {
        const selectedOption = document.getElementById("filterDropdown").value;
        const currentDate = new Date();
        let startDate, endDate;

        switch (selectedOption) {
            case "today":
                startDate = endDate = new Date();
                break;
            case "thisWeek":
                startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - currentDate.getDay());
                endDate = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate() + 6);
                break;
            case "thisMonth":
                startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
                endDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
                break;
            case "thisQuarter":
                // Calculate the start date of the current quarter
                const quarterStartMonth = Math.floor(new Date().getMonth() / 3) * 3;
                const firstDayOfQuarter = new Date(new Date().getFullYear(), quarterStartMonth, 1);

                // Display the selected date range on the webpage using a <p> tag
                startDate = firstDayOfQuarter;
                endDate = new Date(new Date().getFullYear(), quarterStartMonth + 2, 0);
                break;

            case 'thisYear':
                // Set date to January 1st of the current year
                const firstDayOfYear = new Date(new Date().getFullYear(), 0, 1);
                startDate = firstDayOfYear;
                break;
            case 'yesterday':
                const yesterday = new Date();
                // Set date to yesterday
                yesterday.setDate(yesterday.getDate() - 1);
                startDate = yesterday;
                break;
        }

        // Display the selected date range on the webpage
        document.getElementById("selectedDate").textContent = `${startDate.toDateString()}`;
    }
</script>

{% endblock %}