{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <style>
        
    </style>
</head>


<div class="container-fluid">
    <div class="row">
        <select name="" id="">
            <option value="">Today</option>
            <option value="">This Week</option>
            <option value="">This Month</option>
            <option value="">This Quarter</option>
            <option value="">This Year</option>
            <option value="">Yesterday</option>
            <option value="">Previous Week</option>
            <option value="">Previous Month</option>
            <option value="">Previous Quarter</option>
            <option value="">Previous Year</option>
            <option value="">Custom</option>
        </select>
    </div>
</div>
<h1>server maintenance</h1>

{% endblock %}