{% extends 'base.html' %}
{% load static %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>





<script type="text/javascript">
    $(document).ready(function ($) {
        console.log('print');

        $(document).on('click', '.btn_print', function (event) {
            console.log('print1');
            event.preventDefault();

            //credit : https://ekoopmans.github.io/html2pdf.js

            var element = document.getElementById('whatToPrint');

            //easy
            //html2pdf().from(element).save();

            //custom file name
            //html2pdf().set({filename: 'code_with_mark_'+js.AutoCode()+'.pdf'}).from(element).save();


            //more custom settings
            var opt =
            {
                margin: 1,
                filename: 'Retainer Invoice_' + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // New Promise-based usage:
            html2pdf().set(opt).from(element).save();


        });



    });
</script>




<style>
.dropdown-item:hover{
    color: rgb(226, 149, 5);
}

.modal{
    z-index: 9999;
    overflow: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
      background: rgb(252, 236, 217);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  #tr_data:hover{
  background-color: #757575;
}
</style>

<section>

    <div class="row">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" >
                        <section>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <h3 style="font-size:large;">All <br> Retainer Invoices</h3>
                                </div>
                
                                <div class="col-md-2 col-lg-2 col-sm-6"></div>
                
                                <div class="col-md-2 col-lg-2 col-sm-6">
                                    <!-- <a href="{% url 'add_invoice' %}"><button class="btn btn-success" style="height: 35px;width: 100px;">+ New</button></a> -->
                                    <a style="color: white; background-color: rgb(210, 132, 30);" class="btn mr-1 ms-1"
                        href="{% url 'add_invoice' %}">New</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" id="search" class="form-control text-dark mb-2 mt-2" placeholder="search......">
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4 mt-2">
                                    <div class="dropdown ms-1 pt-1">
                                        <a class="dropdown-toggle btn btn-secondary text-dark pt-2 pb-2" href="" data-toggle="dropdown">
                                          <i style="color: chocolate;" class="fa fa-filter"></i>
                                        </a>
                                        <div class="dropdown-menu m-1">
                                          <a class="dropdown-item" href="{% url 'invoice_view' invoice.id %}">All</a>
                                          <a class="dropdown-item" href="{% url 'filter_retainer_view_draft' invoice.id %}">Draft</a>
                                          <a class="dropdown-item" href="{% url 'filter_retainer_view_sent' invoice.id %}">Sent</a>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive" style="height: 500px;overflow-y: scroll;overflow-x: hidden;">
                                        <table id="table" class="table" >
                                            {% for i in invoices %}
                                            <tr id="tr_data">
                                                {% if i.is_draft == 1 %}
                                                <td> 
                                                    <p class="text-white mb-1"><span style="font-weight: bold;font-size: larger;"><a href="{% url 'invoice_view' i.id %}" style="color: rgb(218, 143, 5);">{{i.customer_name.customerName}}</a></span> <br><br>
                                                    <a href="{% url 'invoice_view' i.id %}" class="text-light">{{i.retainer_invoice_number}}</a> | <span style="color: rgb(218, 143, 5);">Draft</span>
                                                    </p>
                                                    
                                                </td>
                                                {% else %}
                                                <td> 
                                                    <p class="text-white mb-1"><span style="color: rgb(218, 143, 5);font-weight: bold;font-size: larger;"><a href="{% url 'invoice_view' i.id %}" style="color: rgb(218, 143, 5);">{{i.customer_name.customerName}}</a></span> <br><br>
                                                    <a href="{% url 'invoice_view' i.id %}" class="text-light">{{i.retainer_invoice_number}}</a> |<span style="color: rgb(218, 143, 5);">Send</span>
                                                    </p>
                                                    
                                                </td>

                                                {% endif %}

                                                <td><p class="text-white" style="color: rgb(218, 143, 5);font-weight: bold;">₹{{i.total_amount}}</p></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </section>


                        
                    </div>


<!-- .................................................................................................................. -->
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row  mx-2 py-3" style="background-color: rgba(136, 136, 135, 0.5)">
                <div class="col-md-5 text-light" style="font-size: 2.5rem;">
                    {{invoice.retainer_invoice_number}}</div>
                <div class="col-md-7 text-white text-right my-auto " style="text-align: end;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <!-- <a href="" class="btn btn-sm ms-1  text-white"
                        style="background-color:  rgb(212, 139, 3);border-radius: 5px;" data-toggle="tooltip" title="Back">
                        <i class="fas fa-arrow-left"></i></a> -->
                        <a href="{% url 'retainer_edit_page' invoice.id %}" class="btn btn-sm ms-1  text-white"
                        style="background-color:  rgb(212, 139, 3);border-radius: 5px;" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-pencil-alt"></i>                     </a>
                        <a href="" class="btn btn-sm text-white ms-1 btn_print" style="background-color:  rgb(212, 139, 3);border-radius: 5px;"
                            data-toggle="tooltip" title="PDF" id="pdf">
                            <i class="far fa-file-pdf"></i></a>
                        <button class="btn btn-sm text-white ms-1 print-button" onclick="printRetainerInvoice()" style="background-color:  rgb(212, 139, 3);border-radius: 5px;"
                            data-toggle="tooltip" title="Print">
                            <i class="fa fa-print"></i></button>
                        <button  class="btn btn-sm text-white ms-1 attach-button"
                        style="background-color:  rgb(212, 139, 3);border-radius: 5px;" id="attach-button" data-toggle="tooltip" title="Email">
                            <i class="fas fa-paperclip"></i></button>

                            <form method="post" action="{% url 'mail_send' invoice.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button class="mail-button btn btn-sm text-white ms-1" 
                                style="background-color:  rgb(212, 139, 3);border-radius: 5px;" data-toggle="tooltip" title="Email">
                                <i class="fas fa-envelope"></i>
                                
                                </button>
                                <input type="file" id="file-input" name="files" style="display:none;margin-left: 590px;"  multiple>
                                <div id="hiddencomments"></div>
                                

                            </form>

                            

                        <div class="dropdown m-0 p-0 ms-1" title="comments" style="background-color:  rgb(212, 139, 3);border-radius: 5px;">
                            <a href=" " class=" fas fa-comment-dots dropdown-toggle  btn-sm text-white ms-1"  
                                data-bs-toggle="dropdown" id="attachmentDropdown" aria-haspopup="true" aria-expanded="false"> 
                            </a>

                            <div class="dropdown-menu" aria-labelledby="attachmentDropdown">
                                <a id="add-comment-link" class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                                 data-target="#cmnts"><i class="fa-solid fa fa-plus"></i>Add</a>
                                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                                data-target="#cmt_list"><i class="fas fa-list"></i>&nbsp;View List</a>
                                        
                            </div>
                        </div>
                        
                       
                        
                    </div>
                    
                        
                    <a href="{% url 'retainer_delete' invoice.id %}" class="btn btn-sm text-white" title="Delete" style="background-color:  rgb(212, 139, 3);border-radius: 5px;" 
                    onclick="return confirm('Do you want to Delete this Invoice?');"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>

            <div id="div_estimate" class="mx-2 my-4 p-4 "
            style="background-color: rgba(124, 124, 123, 0.507); height: 600px; overflow-y: scroll;">
            <div class="slip p-5 convert_to_pdf bg-light" id="whatToPrint"
                style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
                <div class="row ">
                    <div class="col-md-6 ">
                        <h3 class="text-black" style="text-transform: uppercase;">{{ company.company_name }}</h3>
                        <h6 class="text-dark">{{ company.address }}</h6>
                        <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <h3 class="text-black" style="font-size: 2rem; ">RETAINER INVOICE</h3>
                        <h6 class="text-dark">Retainer Invoice Number : <span class="text-black" style="font-weight: bold;">{{invoice.retainer_invoice_number}}</span></h6>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-md-6 mt-auto">
                        <h6 class="text-dark">Bill To</h6>
                        <h6 style="color: rgb(218, 142, 3);">{{invoice.customer_name.customerName}} <br><span class="text-dark">{{ invoice.customer_name.customerEmail }}</span><br>
                            <span class="text-dark">{{invoice.customer_name.customerMobile}}</span> 
                        </h6>
                    </div>
                    <div class="col-md-6 text-right mt-auto">
                        <h6 class="text-dark ">Retainer Invoice Date : {{invoice.retainer_invoice_date}}</h6>
                    </div>
                </div>
                <table class="table mt-2 " style="border-color: black;">
                    <thead >
                        <tr>
                            <th style="color: black;">#</th>
                            <th style="width: 30rem;color: black;text-align: center;">Description</th>
                            <th class="text-right;" style="color: black;">Amount</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in item %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="text-align: center;">{{i.description}}</td>
                            <td class="text-right">{{i.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <div class="invoice-footer">
                    <p>Total: <span class="invoice-total">{{invoice.total_amount}}</span></p>
                </div><br>

                <div class="details">
                    <p style="color: rgb(0, 0, 0);">Customer Notes: {{invoice.customer_notes}}</p>
                    <p style="color: rgb(0, 0, 0);">Terms and Conditions: {{invoice.terms_and_conditions}}</p>
                    
                </div> -->




                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table  mt-2">
                            <tr>
                                <td class="text-right text-warning" style="font-weight: bold;">Total:</td>
                                <td class="text-right " style="font-weight: bold;text-align: end;">{{ invoice.total_amount|floatformat:1}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class='row'>
                                <div class=" col-sm-12 col-md-4 col-lg-4">
                                    <b class="text-black">Customer Notes:</b>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-8">
                                    <p class="text-dark">{{invoice.customer_notes}}</p>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <b class="text-black">Terms and Conditions:</b>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-8">                                     
                                    <p class="text-dark">{{invoice.terms_and_conditions}}</p>
                                    
                                </div>
                            </div>
                    </div>
                </div>


            </div>

            <!-- <h4 class="text-light pt-5">More Information</h4>
            <h6 class="text-light">Sales Person: Xyz</h6> -->
        </div>
        

        </div>
        

 <!-- comment modal -->

 <div class="modal fade " id="cmnts"
 style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
 <div class="modal-dialog modal-xl m-5 p-5">
     <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
         <div class="modal-header " style="background: rgb(32, 35, 37);">
             <h5 class="m-3 text-uppercase text-light">Enter Comment</h5>
             <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                 aria-label="Close">&times;</button>

         </div>
         <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow: hidden;">
                 <form action="{% url 'add_ret_invoice_comment' invoice.id %}" method="post" class="needs-validation" novalidate autocomplete="off"
                     id="modalComment">
                     {% csrf_token %}
                     <div class="row mt-2">
                         <div class="col-md-6 mt-2">
                             <textarea class="form-control text-dark bg-light"   name="comments" required
                                 style="height: 200px; width: 520px;"></textarea>
                         </div>
                     </div>

                     <div class="row mt-5">
                         <div class="col-md-4"></div>
                         <div class="col-md-4">
                             <div class="d-flex">
                                 <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3"  type="submit">Save </button>
                                 <button type="button"
                                     class="close btn save_btn rounded-pill text-grey w-50 my-4"
                                     data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">Cancel</span>
                                 </button>
                             </div>
                         </div>
                         <div class="col-md-4"></div>
                     </div>
                 </form>
             </div>
         </div>
     </div>

 </div>
</div>


<!-- ....................................  comment list modal ................ -->

<div class="modal fade " id="cmt_list"
   style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
 <div class="modal-dialog modal-dialog-scrollable modal-xl m-5 p-5">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h5 class="m-3 text-uppercase text-light">LIST</h5>
            <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                aria-label="Close">&times;</button>

        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow-x: hidden;">
            <div class="card p-0 m-0">

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="p-2">
                            <table class="table table-bordered" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="background-color:rgb(218, 143, 3) ;color: white;">Comments</th>
                                    </tr>
                                </thead>
                                {% for comt in ret_comments %}
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="text" value="{{ comt.comments }}" style="width: 100%;height: 20px;"></td> -->
                                        <td><textarea name="" id="" cols="80" rows="5" style="border: none;background-color:transparent ;color: white;">{{ comt.comments }}</textarea></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

  </div>
</div>
    
    
<!-- ..................................................................................................................... -->
<!--     
                    <div class="col-md-8" style="border: 1px solid;border-color: white; height: 820px;">

                        <section>

                            <div class="row">
                                <div class="col-md-4"><br>
                                    <h3>{{invoice.retainer_invoice_number}}</h3>
                                </div>
                                <div class="col-md-8"><br>
                                    <div class="button-group">
                                        <a href="{% url 'retainer_edit_page' invoice.id %}"><button class="edit-button">
                                            <i class="fas fa-edit"></i>
                                            Edit
                                          </button></a>
                                        <button class="pdf-button" onclick="convertHTMLtoPDF()" >
                                          <i class="fas fa-file-pdf"></i>
                                          PDF
                                        </button>
                                        <button class="print-button" onclick="printRetainerInvoice()">
                                          <i class="fas fa-print"></i>
                                          Print
                                        </button>

                                        <form method="post" action="{% url 'mail_send' invoice.id %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <button class="mail-button">
                                            <i class="fas fa-envelope"></i>
                                            Mail
                                            </button>
                                            <input type="file" id="file-input" name="files" style="display:none;margin-left: 590px;"  multiple>
                                            <div id="hiddencomments"></div>
                                            

                                        </form>

                                        <button class="attach-button" id="attach-button">
                                            <i class="fas fa-paperclip"></i>
                                            Attach
                                        </button>
                                        <a href="{% url 'retainer_delete' invoice.id %}">
                                            <button class="close-button">
                                            <i class="fas fa-trash-alt"></i>
                                            Delete
                                          </button>
                                        </a>

                                    </div>
                                      
                                </div>
                            </div>
                            <div class="row"><br>

                                

                                <div class="col-md-12"><br>

                                    <div id="comment-section"></div>
                                    <a href="#" id="add-comment-link"><i class="fas fa-plus "></i> Add Comment</a>
                                    <div id="comment-form" style="display: none;">
                                        <textarea id="comment-text" rows="2" cols="85"></textarea><br>
                                        <button id="submit-comment" type="button" class="btn btn-primary">Add Comment</button>
                                    </div>
                                    

                                </div>
                            </div><br><br>

                           
                          <div class="row">
                                <div class="col-md-2"></div>
                                <div id="invoice-section" class="col-md-9   border"  style="background-color: rgb(251, 251, 251);border-color: #000000;" >

                                    <div class="invoice-header">
                                        <p style="color: #000000;font-size: x-large;text-align: center;margin-top: 10px;">RETAINER  INVOICE</p>
                                        
                                        
                                    </div>
                                    <div class="details">
                                        <p style="text-align: end;color: rgb(0, 0, 0);">Retainer Invoice Date: {{invoice.retainer_invoice_date}}</p>
                                        <p style="text-align: end;color: rgb(0, 0, 0);">Retainer Invoice Number:<b>{{invoice.retainer_invoice_number}}</b></p>
                                        <p style="color: rgb(0, 0, 0);">Bill To,</p>
                                        <p style="color: rgb(0, 0, 0);">{{invoice.customer_name.customerName}}</p>
                                        <p style="color: rgb(0, 0, 0);">{{invoice.customer_name.companyName}}</p>
                                        <p style="color: rgb(0, 0, 0);">{{invoice.customer_name.customerMobile}}</p>
                                        
                                        
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th style="text-align: end;">Amount</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in item %}
                                            <tr>
                                                <td></td>
                                                
                                                <td>{{i.description}}</td>
                                            
                                                <td style="text-align: end;">{{i.amount }}</td>
                                                
                                              
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="invoice-footer">
                                        <p>Total: <span class="invoice-total">{{invoice.total_amount}}</span></p>
                                    </div><br>

                                    <div class="details">
                                        <p style="color: rgb(0, 0, 0);">Customer Notes: {{invoice.customer_notes}}</p>
                                        <p style="color: rgb(0, 0, 0);">Terms and Conditions: {{invoice.terms_and_conditions}}</p>
                                        
                                    </div>



                                </div>
                                <div class="col-md-1"></div>
                            </div>

                        </section>

    
                    </div><br>
     -->
    
                </div>
    


            
            </div>

        
        </div>
    
    </div>

</section>




<script src=
 "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
</script>
<script src=
 "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
</script>


<script>
    var $rows = $('#table tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.hide().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });
  
  </script>

<script type="text/javascript">
    function convertHTMLtoPDF() {
        const { jsPDF } = window.jspdf;

        var doc = new jsPDF('l', 'mm', [630, 630]);
        var pdfjs = document.querySelector('#invoice-section');

        doc.html(pdfjs, {
            callback: function(doc) {
                doc.save("retainer-invoice.pdf");
            },
            x: 12,
            y: 12
        });               
    }           
</script> 


<script>

    function printRetainerInvoice() {
      // select the retainer invoice section
      const retainerSection = document.querySelector('#whatToPrint');
      
      // get the HTML content of the retainer invoice section
      const retainerInvoiceHTML = retainerSection.innerHTML;
      
      // create a new window and write the retainer invoice HTML to it
      const newWindow = window.open();
      newWindow.document.write(retainerInvoiceHTML);
      
      // print the new window
      newWindow.print();
    }

</script>  

<script>
    const attachButton = document.getElementById("attach-button");
    const fileInput = document.getElementById("file-input");

    attachButton.addEventListener("click", () => {
        fileInput.click();
    });

    fileInput.addEventListener("change", () => {
        fileInput.style.display = "none";
    });

</script>



<!-- <script>
    const addCommentLink = document.getElementById("add-comment-link");
    const commentForm = document.getElementById("comment-form");

    addCommentLink.addEventListener("click", () => {
    addCommentLink.style.display = "none";
    commentForm.style.display = "block";
    });

    const submitCommentBtn = document.getElementById("submit-comment");
    const commentText = document.getElementById("comment-text");
    const commentSection = document.getElementById("comment-section");
    const hiddencomment = document.getElementById("hiddencomments")

    submitCommentBtn.addEventListener("click", () => {
    const comment = commentText.value;
    const newCommentElement = document.createElement("p");
    newCommentElement.setAttribute('name', 'comments');
    newCommentElement.textContent = comment;
    commentSection.appendChild(newCommentElement);
    const newcomment = document.createElement("input")
    newcomment.setAttribute('type','hidden');
    newcomment.setAttribute('name','mailcomments');
    newcomment.value=comment;
    hiddencomment.appendChild(newcomment);
    commentText.value = "";
    commentForm.style.display = "none";
    addCommentLink.style.display = "block";
    });
</script>



 -->


<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: rgb(0, 0, 0);
    }
    th {
        background-color: #f2f2f2;
        color: black;
    }
    
    .invoice-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .invoice-footer p {
        margin: 0;
        font-size: 14px;
        color: #000000;
    }
    .invoice-total {
        font-weight: bold;
    }
    
</style>
<style>
.button-group {
  display: flex;
  align-items: center;
}

.button-group button {
  border: none;
  background-color: #fff;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-group button i {
  margin-right: 5px;
}

</style>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



{% endblock %}